html {
  height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

nav {
  flex-shrink: 0;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
}

hr {
  border-top: 3px solid #bbb;
  border-radius: 5px;
}
